NODE_ENV=dev
SERVICE_PORT=
DB_NAME=
DB_USERNAME=
DB_PASSWORD=
DB_HOST=
DB_PORT=
DB_DIALECT=postgres
YOUTUBE_API_KEY=PUT YOUR KEY
YOUTUBE_BASE_URL=https://www.googleapis.com/youtube/v3/commentThreads?
YOUTUBE_API_HOSTNAME=www.googleapis.com
YOUTUBE_API_PATHNAME=youtube/v3/commentThreads